<form n:context="null" n:block="content">
    {var $var = null}
    <input n:name="hello" /> END
    <control n:name="username" /> END
    <control n:name="user.company.name" label="Company name" /> END
    <select n:name="options" options="[1,2,3]" /> END
    <label n:name="mylabel">My Label</label> END
    <textarea n:name="description"></textarea> END
</form>