<div n:block="content">
    <form n:context=$form>
        {Form control 'name'}
        {Form control 'email'}
        {Form control 'body'}
    </form>

    <form n:context=null>
        Null context
    </form>

    {var $class = 'test'}
    <form n:context=$form type="file" class="{$class}">
        File form
    </form>

    <form n:context="$form, method: 'delete'">
        Form with args
    </form>
</div>