{templateType LatteView\TestApp\View\Parameter\MyTemplateParams}

{block content}
Data: {$name}<br>
Additional: {$additional}<br>
{foreach $items as $item}
    Item: {$item}<br>
{/foreach}

Tag from parameter class: {tag()}
<br />
Currency: {='1000'|currency}