{block content}
<!-- Links -->
<a n:post="[_name: 'display']">I'm a postLink</a>

<a n:post="[_name: 'display']"><strong>Hello</strong></a>

<a n:post="[_name: 'display']" class="link">Bonjour</a>

<!-- Buttons -->
<button n:post="[_name: 'display']"><strong>Hello</strong></button>

<button n:post="[_name: 'display'], class: 'btn btn-primary'">Hi</button>